@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
    margin: 0;
    padding: 0 4rem 0 10rem;
    justify-content: center;  
    background-color:#0E1142 ; 
    /* TODO recolor scroll bar */
  }
body{
    background-color:#0E1142;
    /* TODO Import star animation with low opacity */
}
section{
    /* TODO fix overlapping sections */
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 6rem;
    flex-direction: column;
}

/* TODO reduce size at 1200px */
p{
    font-family: Jura;
}


